In [23]:
from ema_workbench.util import load_results

experiments, outcomes = load_results('./data/pathways with timing.tar.gz')

policies = set(experiments['policy'])

scores = []
index = []

for policy in policies:

    logical = experiments['policy']==policy

    data = {}

    for key in ['Costs', 'Flood damage (Milj. Euro)', 'Number of casualties']:
        value = outcomes[key][logical]
        data['mean {}'.format(key)] = np.mean(value)
        data['std {}'.format(key)] = np.std(value)
        
    scores.append(data)
    index.append(policy)

In [24]:
experiments, outcomes = load_results('./data/fourth iteration 5 policies  5000 runs.tar.gz')

logical = experiments['policy']=='Dike 1:500 +0.5m, 1:1000'

data = {}

for key, value in outcomes.items():
    value = value[logical]
#     data.append((key, np.mean(value), np.std(value)))
    data['mean {}'.format(key)] = np.mean(value)
    data['std {}'.format(key)] = np.std(value)

scores.append(data)
index.append('Dike 1:500 +0.5m, 1:1000')
    
score_card = pd.DataFrame(scores, index=index)

In [25]:
import pareto

In [63]:
eps = [1111.92459913, 34608.543, 756.9814067, 52.2242060867, 17107.6871672, 388.78367684]
eps = [0.01 * entry for entry in eps]

table = score_card


# table = table.append({'mean Costs': 0,
#              'mean Flood damage (Milj. Euro)': 0,
#              'mean Number of casualties': 0,
#              'std Costs': 0,
#              'std Flood damage (Milj. Euro)': 0,
#              'std Number of casualties': 0}, ignore_index=True)



nondominated = pareto.eps_sort(table.values, epsilons=eps)

In [64]:
table

,mean Costs,mean Flood damage (Milj. Euro),mean Number of casualties,std Costs,std Flood damage (Milj. Euro),std Number of casualties
0,174.722060,504.1438,47.389159,2.842171e-14,1123.190855,71.357346
1,252.841350,462.9054,44.305149,5.684342e-14,1043.075447,62.342341
2,112.310084,4075.4384,172.207577,5.551665e+01,2577.150396,118.671609
3,144.258709,4075.4384,172.207577,4.966937e+01,2577.150396,118.671609
4,125.009420,16176.1848,194.737686,1.392349e-02,11368.889260,160.012939
5,138.030000,19178.9680,538.232426,0.000000e+00,10097.562584,294.952947
6,6.179976,8744.9192,687.834975,8.481887e-04,3729.670275,390.632513
7,0.060000,33943.6386,423.903418,0.000000e+00,16938.709843,229.511399
8,133.251560,3433.1186,129.711492,5.573549e+01,2364.946383,96.919909
9,70.030000,24435.9830,615.149767,2.842171e-14,12663.604746,351.003861
10,50.000000,24583.1080,457.945253,0.000000e+00,13816.646728,267.424303
"Dike 1:500 +0.5m, 1:1000",118.140425,3109.7390,85.278782,5.905349e+01,2401.193676,75.219697

In [65]:
pd.DataFrame(nondominated)

             0           1           2             3             4           5
0   174.722060    504.1438   47.389159  2.842171e-14   1123.190855   71.357346
1   252.841350    462.9054   44.305149  5.684342e-14   1043.075447   62.342341
2   112.310084   4075.4384  172.207577  5.551665e+01   2577.150396  118.671609
3   144.258709   4075.4384  172.207577  4.966937e+01   2577.150396  118.671609
4   125.009420  16176.1848  194.737686  1.392349e-02  11368.889260  160.012939
5   138.030000  19178.9680  538.232426  0.000000e+00  10097.562584  294.952947
6     6.179976   8744.9192  687.834975  8.481887e-04   3729.670275  390.632513
7     0.060000  33943.6386  423.903418  0.000000e+00  16938.709843  229.511399
8   133.251560   3433.1186  129.711492  5.573549e+01   2364.946383   96.919909
9    70.030000  24435.9830  615.149767  2.842171e-14  12663.604746  351.003861
10   50.000000  24583.1080  457.945253  0.000000e+00  13816.646728  267.424303
11  118.140425   3109.7390   85.278782  5.905349e+01   2401.193676   75.219697

In [66]:
score_card

,mean Costs,mean Flood damage (Milj. Euro),mean Number of casualties,std Costs,std Flood damage (Milj. Euro),std Number of casualties
0,174.722060,504.1438,47.389159,2.842171e-14,1123.190855,71.357346
1,252.841350,462.9054,44.305149,5.684342e-14,1043.075447,62.342341
2,112.310084,4075.4384,172.207577,5.551665e+01,2577.150396,118.671609
3,144.258709,4075.4384,172.207577,4.966937e+01,2577.150396,118.671609
4,125.009420,16176.1848,194.737686,1.392349e-02,11368.889260,160.012939
5,138.030000,19178.9680,538.232426,0.000000e+00,10097.562584,294.952947
6,6.179976,8744.9192,687.834975,8.481887e-04,3729.670275,390.632513
7,0.060000,33943.6386,423.903418,0.000000e+00,16938.709843,229.511399
8,133.251560,3433.1186,129.711492,5.573549e+01,2364.946383,96.919909
9,70.030000,24435.9830,615.149767,2.842171e-14,12663.604746,351.003861
10,50.000000,24583.1080,457.945253,0.000000e+00,13816.646728,267.424303
"Dike 1:500 +0.5m, 1:1000",118.140425,3109.7390,85.278782,5.905349e+01,2401.193676,75.219697

In [55]:
data

{'mean Costs': 118.14042462191081,
 'mean Flood damage (Milj. Euro)': 3109.739,
 'mean Number of casualties': 85.278782175999993,
 'std Costs': 59.053486235305606,
 'std Flood damage (Milj. Euro)': 2401.1936756702903,
 'std Number of casualties': 75.21969691795357}